In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
from tensorflow import keras
import tensorflow as tf

In [3]:
df = pd.read_csv("/content/drive/MyDrive/Classroom/WA_Fn-UseC_-Telco-Customer-Churn.csv")

**Data preprocessing**

In [5]:
df.drop(['customerID'],inplace =True,axis = 1)

In [7]:
df['gender'].replace({'Female' : 0,'Male':1},inplace = True)

In [19]:
columns = ['Partner','Dependents','PhoneService','PaperlessBilling','Churn']

In [20]:
for column in columns:
  df[column].replace({'Yes':1,'No':0},inplace = True)#converting all the objects to integers

In [21]:
columns1 = ['OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies']

In [33]:
for column in columns1:
  df[column].replace({'No internet service': 'No'},inplace  = True)  #replacing no internet service to No

In [34]:
df['MultipleLines'].replace({'No phone service' : 'No'},inplace = True)

In [35]:
columns2 = ['OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies', 'MultipleLines']
for column in columns2:
  df[column].replace({'Yes':1,'No':0},inplace = True) #SIMILARLY

In [38]:
df.drop(['PaymentMethod'],axis = 1,inplace = True)

In [39]:
df = pd.concat([df,pd.get_dummies(df['Contract'])],axis =1 )

In [41]:
df.drop(['Contract'],axis = 1,inplace = True)

In [43]:
df = pd.concat([df,pd.get_dummies(df['InternetService'])],axis =1 )

In [44]:
df.drop(['InternetService'],axis = 1,inplace = True)

In [45]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Month-to-month,One year,Two year,DSL,Fiber optic,No
0,0,0,1,0,1,0,0,0,1,0,...,1,29.85,29.85,0,True,False,False,True,False,False
1,1,0,0,0,34,1,0,1,0,1,...,0,56.95,1889.5,0,False,True,False,True,False,False
2,1,0,0,0,2,1,0,1,1,0,...,1,53.85,108.15,1,True,False,False,True,False,False
3,1,0,0,0,45,0,0,1,0,1,...,0,42.30,1840.75,0,False,True,False,True,False,False
4,0,0,0,0,2,1,0,0,0,0,...,1,70.70,151.65,1,True,False,False,False,True,False

In [52]:
df.dtypes

gender                int64
SeniorCitizen         int64
Partner               int64
Dependents            int64
tenure                int64
PhoneService          int64
MultipleLines         int64
OnlineSecurity        int64
OnlineBackup          int64
DeviceProtection      int64
TechSupport           int64
StreamingTV           int64
StreamingMovies       int64
PaperlessBilling      int64
MonthlyCharges      float64
TotalCharges         object
Churn                 int64
Month-to-month         bool
One year               bool
Two year               bool
DSL                    bool
Fiber optic            bool
No                     bool
dtype: object

In [69]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')#converting the object total charges to integer
df['TotalCharges'] = df['TotalCharges'].fillna(0)
df['TotalCharges'] = df['TotalCharges'].astype(float).round().astype(int)

In [70]:
df['MonthlyCharges'] = df['MonthlyCharges'].astype(int) #converting the float Montly charges to integer

In [71]:
from sklearn.model_selection import train_test_split as tst

In [79]:
X = df.drop(['Churn'], axis=1).astype(float)  # Convert all columns to float

In [80]:
X_train,X_test,y_train,y_test = tst(X,df['Churn'], test_size = 0.2) #dividing the dataset for training and testing

In [81]:
X_train.shape

(5634, 22)

**Building a Neural Network model**

In [99]:
ann = keras.Sequential([
    keras.layers.Dense(20,input_shape = (22,),activation = 'relu'),
    keras.layers.Dense(15,activation = 'relu'),
    keras.layers.Dense(15,activation = 'sigmoid'),
    keras.layers.Dense(1,activation = 'sigmoid')
])

In [100]:
ann.compile(
    optimizer = 'adam',
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

In [101]:
ann.fit(X_train,y_train,epochs = 10)

Epoch 1/10
177/177 [==============================] - 1s 2ms/step - loss: 0.5876 - accuracy: 0.6887
Epoch 2/10
177/177 [==============================] - 0s 2ms/step - loss: 0.5146 - accuracy: 0.7533
Epoch 3/10
177/177 [==============================] - 0s 2ms/step - loss: 0.5071 - accuracy: 0.7362
Epoch 4/10
177/177 [==============================] - 0s 2ms/step - loss: 0.5127 - accuracy: 0.7636
Epoch 5/10
177/177 [==============================] - 1s 3ms/step - loss: 0.4965 - accuracy: 0.7772
Epoch 6/10
177/177 [==============================] - 1s 4ms/step - loss: 0.4907 - accuracy: 0.7741
Epoch 7/10
177/177 [==============================] - 1s 3ms/step - loss: 0.4756 - accuracy: 0.7723
Epoch 8/10
177/177 [==============================] - 1s 4ms/step - loss: 0.4753 - accuracy: 0.7790
Epoch 9/10
177/177 [==============================] - 1s 6ms/step - loss: 0.4707 - accuracy: 0.7822
Epoch 10/10
177/177 [==============================] - 1s 4ms/step - loss: 0.4645 - accuracy: 0.7822

Finally we found the accuracy and the loss use different optimizer and loss factors and activation functions to get different values of accuracy.